/* google Font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
  box-sizing: border-box;
}

/* Common variable */
:root {
  --first-header: 46px;
  --second-header: 28px;
  --common-opacity: 0.7;
  --laptop-width: 82%;
  --section-padding: 20px 75px;
  --common-color: rgb(13, 19, 33);
}
/* Common style */
.btn {
  padding: 12px 19px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  border: 2px solid rgb(13, 19, 33);
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  transition: 0.7s;
}

.btn:hover {
  background-color: transparent;
  color: black;
}

/* navigation section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--laptop-width);
  margin: 40px auto;
}

nav > h2 > a {
  font-size: var(--second-header);
  display: inline-block;
  text-decoration: none;
  color: black;
}

/* Banner Section */
.banner {
  background-image: url(/assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}
.banner .banner_child {
  width: var(--laptop-width);
  margin: 0px auto;
  text-align: center;
  padding: var(--section-padding);
}

.banner .banner_child > h1 {
  font-size: var(--first-header);
  font-weight: 800;
  line-height: 60px;
  text-align: center;
}
.banner .banner_child > p {
  opacity: var(--common-opacity);
  color: var(--common-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 28px 0;
}

/* Why web development section */
.perspective {
  width: var(--laptop-width);
  margin: 74px auto;
  padding: 60px 77px;
  background: rgba(13, 19, 33, 0.02);
}
.perspective .perspective_intro {
  padding: 0px 47px;
  text-align: center;
}

.perspective .perspective_intro > h2 {
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.perspective .perspective_intro p {
  margin: 24px 0 48px;
}
.reason_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 48px;
  border-radius: 16px;
  grid-column-gap: 100px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin-bottom: 30px;
}

.reason_container .reson_left > h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  width: 70%;
}
.reason_container .reson_left > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 14px 0 28px;
}

#reason_container_two {
  grid-template-columns: 1fr 2fr;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

/* My inspiration section */
.inspiration {
  width: var(--laptop-width);
  margin: 0px auto;
  text-align: center;
}
.inspiration .inspiration_description {
  padding: 0 144px;
}
.inspiration_description > h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
}
.inspiration_description > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px auto 35px;
}
.inspiration_video {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.inspiration_video iframe {
  width: 100%;
  height: 550px;
  border-radius: 16px;
}

/* My current target */
.current_target {
  width: var(--laptop-width);
  margin: 0px auto;
}
.current_target .current_target_description {
  padding: 0pc 144px;
  text-align: center;
}
.current_target .current_target_description > h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
}
.current_target .current_target_description > p {
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0 40px;
}
.current_target .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.current_target .skills .skill {
  padding: 40px;
}
.current_target .skills .skill:first-child {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.current_target .skills .skill:nth-child(2) {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}

.current_target .skills .skill:last-child {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

.current_target .skills .skill > h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  margin-top: 24px;
}
.current_target .skills .skill > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin: 8px 0 24px;
}
.current_target .skills .skill > a {
  color: black;
}
